{% extends 'base.html' %}

{% block title %}ახალი წიგნის დამატება{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h3 class="mb-3 text-center">ახალი წიგნის დამატება</h3>
            <form action="{{ url_for('book') }}" method="POST">
                <div class="mb-3">
                    <label for="bookTitle" class="form-label">წიგნის სათაური</label>
                    <input type="text" class="form-control" id="bookTitle" name="bookTitle" required>
                </div>
                <div class="mb-3">
                    <label for="bookAuthor" class="form-label">ავტორი</label>
                    <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" required>
                </div>
                <div class="mb-3">
                    <label for="bookYear" class="form-label">გამოცემის წელი</label>
                    <input type="number" class="form-control" id="bookYear" name="bookYear" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">დამატება</button>
                    <a href="{{ url_for('books') }}" class="btn btn-outline-secondary">გაუქმება</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}